<!doctype html>
<html>
  <head>
    <!--JQuery-->

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--css-->
    <link href="{{url_for ('static',filename='css/disp.css')}}" rel="stylesheet" type="text/css"/>
  <!--Vis visualisation lib-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.js"></script>

    <script src="https://vega.github.io/vega-editor/vendor/d3.min.js"></script>

    
    <script src="{{url_for ('static',filename='lib/vincent_vega/vincent_vega.js')}}"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>

  </head>

  <body>
    <div id="app">

      <line-chart></line-chart>

      <stacked-bar-chart></stacked-bar-chart>

      <area-chart></area-chart>

      <grouped-bar-chart></grouped-bar-chart>

      <stacked-area-chart></stacked-area-chart>

      <scatter-chart></scatter-chart>

      <pie-chart></pie-chart>

      <bar-chart></bar-chart>

      <line-plot></line-plot>

      <histogram></histogram>

      <multi-histogram></multi-histogram>

      <matrice-Wave></matrice-Wave>

      <matrice></matrice>


      <!--need to add dynamic data for component below-->

      <scatter-plot></scatter-plot>


    </div>
  </body >

      <!--Vuejs-->
    <script type="text/javascript" src="{{url_for ('static',filename='js/vue.js')}}"></script>
    <!--display.js-->
     <script type="text/javascript" src="{{url_for ('static',filename='js/disp.js')}}"></script>

    <!--reload page-->
    <!--
     <script type="text/javascript">
        setTimeout(function() { window.location=window.location;},5000);
     </script>
     -->

</html>