<!doctype html>
<html>
  <head>
    <!--JQuery-->

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--css-->
    <link href="{{url_for ('static',filename='css/disp.css')}}" rel="stylesheet" type="text/css"/>
  <!--Vis visualisation lib-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.js"></script>
  <!--<script type="text/javascript" src="/front/lala_web/vis.js"></script>-->

  </head>

  <body>
    <div id="app">

      <!--need to make a variable containing data before otherwises doesn't work with vuejs-->
      <script>var i = {{input|safe}}</script>
      
      <line-plot></line-plot>

      <histogram></histogram>

      <multi-histogram></multi-histogram>

      <matrice-Wave></matrice-Wave>

      <matrice></matrice>


      <!--need to add dynamic data for component below-->

      <scatter-plot input=i></scatter-plot>


    </div>
  </body >
      <!--Vuejs-->
    <script type="text/javascript" src="{{url_for ('static',filename='js/vue.js')}}"></script>
    <!--display.js-->
     <script type="text/javascript" src="{{url_for ('static',filename='js/disp.js')}}"></script>

    <!--reload page-->
    <!--
     <script type="text/javascript">
        setTimeout(function() { window.location=window.location;},5000);
     </script>
     -->

</html>
