<!doctype html>
<html>
	<head>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>	
	
	<script src="https://unpkg.com/vue"></script>
	<!--css-->
	<link href="{{url_for ('static',filename='css/disp.css')}}" rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.js"></script>
	<!--<script type="text/javascript" src="/front/lala_web/vis.js"></script>-->

	</head>

	<body>

		<div id="app">

			<h2>Matrice:</h2>
	
			<div id="matrice" ></div>

		</div>
	</body >
		 <script type="text/javascript" src="{{url_for ('static',filename='js/matrice.js')}}"></script>

</html>
